body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 50px;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background: #2563eb;
  border: none;
  color: white;
  cursor: pointer;
}
